<div class="jumbotron">
  <h1>'Allo, 'Allo</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
  </p>
  <br />
  <h3>Select your friend to send message:</h3>
  <br />
  <ul>
    <li ng:repeat="friend in ListFactory.friends track by $index">
      <button ng:click="select(friend)">Friend: {{friend.name}}</button>
      <img class="width: 5px;"ng-src="{{friend.loggedIn ? 'images/green.png' : 'images/grey.png'}}"/>
    </li>
  </ul>
  <br />
  <a id="addFriend" href ng:click="redirectToAddFriend()">Add Friend</a>
  <br />
  <h3>List of offline messages:</h3>
  <br />
  <ul ng:repeat="message in ListFactory.messages track by $index">
    <li > {{message}} </li>
  </ul>
  <br />
</div>


